body{
  margin-left: 15px;
}
#text{
  color: #3F3F40;
  font-weight: 900;
  font-size: small;
  font-family: 'Roboto', sans-serif;
  font-family: 'Asul', sans-serif;
  opacity: 0.5;
  margin-left: 10px;
}
hr{
  width: 45px;
  height: 2px;
  background-color: #929292;
  margin-left: 10px;
}
#container{
  margin-top: 5px;
  width: 500px;
  opacity: 0.8;
}
div{
  display: inline-block;
  margin: 10px;
}
img{
  width: 120px;
  height: 115px;
}
#one{
  top:80px;
  left: 7px;
}
#two{
  top:80px;
  left: 148px;
}
#three{
  top:80px;
  left: 291px;
}
#four{
  top:228px;
  left: 7px;
}
#five{
  top:228px;
  left: 148px;
}
#six{
  top:228px;
  left: 291px;
}
p.name_lastname{
  color: white;
  font-size: 10px;
  position: absolute;
  margin-top: 90px;
  margin-left: 55px;
}
